# Виртуальные окружения
venv/
env/
.venv/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Данные
*.csv
*.pkl
*.pickle
*.h5
*.hdf5
